*.bin
*.asc
*.blif
*.lxt
*.json
/software/spu32-serial-bootloader/target/
/software/spu32-emu/target
*.class
*.o
*.a
*.elf
*.bak
*.dat
software/serial-uploader/uploader
*config-local.vh
software/testgen/testcollection.s
software/testgen/.testcollection.s.swp
