*.bin
*.img
*.asc
*.blif
*.lxt
*.json
/software/spu32-serial-bootloader/target/
/software/spu32-emu/target
*.class
*.o
*.a
*.elf
*.bak
*.dat
*.dat32
software/serial-uploader/uploader
software/filesrv/filesrv_client
*config-local.vh
software/testgen/testcollection.s
software/testgen/.testcollection.s.swp
.vscode/*
cpu/alu_prf/
cpu/alu_cvr/
a.out
