
set_io --warn-no-port clk_100mhz R9

set_io --warn-no-port led1 C8
set_io --warn-no-port led2 F7
set_io --warn-no-port led3 K9

# UART on lower row of pmod header 2
set_io --warn-no-port uart_rx B3
set_io --warn-no-port uart_tx B6
set_io --warn-no-port uart_rts B7

# SPI port 0 on lower row of pmod header 4
set_io --warn-no-port spi0_clk T9
set_io --warn-no-port spi0_miso T10
set_io --warn-no-port spi0_mosi T13
set_io --warn-no-port spi0_cs R14

# push buttons on icoboard
set_io --warn-no-port button0 K11
set_io --warn-no-port button1 P13

# some debug signals on pmod3 to attach logic analyzer
set_io --warn-no-port debug0  L9
set_io --warn-no-port debug1  G5
set_io --warn-no-port debug2  L7
set_io --warn-no-port debug3  N6
set_io --warn-no-port debug4  N9
set_io --warn-no-port debug5  P9
set_io --warn-no-port debug6  M8
set_io --warn-no-port debug7  N7

set_io --warn-no-port pmod1_1  D8
set_io --warn-no-port pmod1_2  B9
set_io --warn-no-port pmod1_3  B10
set_io --warn-no-port pmod1_4  B11
set_io --warn-no-port pmod1_7  B8
set_io --warn-no-port pmod1_8  A9
set_io --warn-no-port pmod1_9  A10
set_io --warn-no-port pmod1_10 A11

#set_io --warn-no-port pmod2_1  A5
#set_io --warn-no-port pmod2_2  A2
#set_io --warn-no-port pmod2_3  C3
#set_io --warn-no-port pmod2_4  B4
#set_io --warn-no-port pmod2_7  B7
#set_io --warn-no-port pmod2_8  B6
#set_io --warn-no-port pmod2_9  B3
#set_io --warn-no-port pmod2_10 B5

#set_io --warn-no-port pmod3_1  L9
#set_io --warn-no-port pmod3_2  G5
#set_io --warn-no-port pmod3_3  L7
#set_io --warn-no-port pmod3_4  N6
#set_io --warn-no-port pmod3_7  N9
#set_io --warn-no-port pmod3_8  P9
#set_io --warn-no-port pmod3_9  M8
#set_io --warn-no-port pmod3_10 N7

#set_io --warn-no-port pmod4_1  T15
#set_io --warn-no-port pmod4_2  T14
#set_io --warn-no-port pmod4_3  T11
#set_io --warn-no-port pmod4_4  R10
#set_io --warn-no-port pmod4_7  R14
#set_io --warn-no-port pmod4_8  T13
#set_io --warn-no-port pmod4_9  T10
#set_io --warn-no-port pmod4_10 T9

set_io SRAM_A0  N2 # IO21B
set_io SRAM_A1  K5 # IO20A
set_io SRAM_A2  J5 # IO13A
set_io SRAM_A3  M5 # IO25B
set_io SRAM_A4  P4 # IO54
set_io SRAM_A5  N5 # IO56
set_io SRAM_A6  P5 # IO58
set_io SRAM_A7  P7 # IO77
set_io SRAM_A8  M6 # IO22A
set_io SRAM_A9  P6 # IO67
set_io SRAM_A10 T8 # IO76
set_io SRAM_A11 T1 # IO53
set_io SRAM_A12 P2 # IO25A
set_io SRAM_A13 R1 # IO26A
set_io SRAM_A14 N3 # IO23B
set_io SRAM_A15 P1 # IO24A

set_io SRAM_D0  T2 # IO57
set_io SRAM_D1  R3 # IO59
set_io SRAM_D2  T3 # IO61
set_io SRAM_D3  R4 # IO63
set_io SRAM_D4  R5 # IO60
set_io SRAM_D5  T5 # IO69
set_io SRAM_D6  R6 # IO71
set_io SRAM_D7  T6 # IO73
set_io SRAM_D8  N4 # IO26B
set_io SRAM_D9  M4 # IO24B
set_io SRAM_D10 L6 # IO19A
set_io SRAM_D11 M3 # IO22B
set_io SRAM_D12 L4 # IO17A
set_io SRAM_D13 L3 # IO19B
set_io SRAM_D14 K4 # IO18A
set_io SRAM_D15 K3 # IO16B
set_io SRAM_CE  M7 # IO64
set_io SRAM_WE  T7 # IO75
set_io SRAM_OE  L5 # IO23A
set_io SRAM_LB  J4 # IO12A
set_io SRAM_UB  J3 # IO14A